/* Atlas Grotesk fonts */

@font-face {
    src: url('../fonts/Atlas_Grotesk/AtlasGrotesk-Black-Web.ttf') format('truetype');

    font-family: 'Atlas Grotesk Web';
    font-weight:  900;
    font-style:   normal;
    font-stretch: normal;
}

.AtlasGrotesk-Black-Web {
    font-family: 'Atlas Grotesk Web';
    font-weight:  900;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    src: url('../fonts/Atlas_Grotesk/AtlasGrotesk-BlackItalic-Web.ttf') format('truetype');

    font-family: 'Atlas Grotesk Web';
    font-weight:  900;
    font-style:   italic;
    font-stretch: normal;
}

.AtlasGrotesk-BlackItalic-Web {
    font-family: 'Atlas Grotesk Web';
    font-weight:  900;
    font-style:   italic;
    font-stretch: normal;
}

@font-face {
    src: url('../fonts/Atlas_Grotesk/AtlasGrotesk-Bold-Web.ttf') format('truetype');

    font-family: 'Atlas Grotesk Web';
    font-weight:  700;
    font-style:   normal;
    font-stretch: normal;
}

.AtlasGrotesk-Bold-Web {
    font-family: 'Atlas Grotesk Web';
    font-weight:  700;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    src: url('../fonts/Atlas_Grotesk/AtlasGrotesk-BoldItalic-Web.ttf') format('truetype');

    font-family: 'Atlas Grotesk Web';
    font-weight:  700;
    font-style:   normal;
    font-stretch: normal;
}

.AtlasGrotesk-BoldItalic-Web {
    font-family: 'Atlas Grotesk Web';
    font-weight:  700;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    src: url('../fonts/Atlas_Grotesk/AtlasGrotesk-Light-Web.ttf') format('truetype');

    font-family: 'Atlas Grotesk Web';
    font-weight:  300;
    font-style:   normal;
    font-stretch: normal;
}

.AtlasGrotesk-Light-Web {
    font-family: 'Atlas Grotesk Web';
    font-weight:  300;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    src: url('../fonts/Atlas_Grotesk/AtlasGrotesk-LightItalic-Web.ttf') format('truetype');

    font-family: 'Atlas Grotesk Web';
    font-weight:  300;
    font-style:   italic;
    font-stretch: normal;
}

.AtlasGrotesk-LightItalic-Web {
    font-family: 'Atlas Grotesk Web';
    font-weight:  300;
    font-style:   italic;
    font-stretch: normal;
}

@font-face {
    src: url('../fonts/Atlas_Grotesk/AtlasGrotesk-Medium-Web.ttf') format('truetype');

    font-family: 'Atlas Grotesk Web';
    font-weight:  500;
    font-style:   normal;
    font-stretch: normal;
}

.AtlasGrotesk-Medium-Web {
    font-family: 'Atlas Grotesk Web';
    font-weight:  500;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    src: url('../fonts/Atlas_Grotesk/AtlasGrotesk-MediumItalic-Web.ttf') format('truetype');

    font-family: 'Atlas Grotesk Web';
    font-weight:  500;
    font-style:   italic;
    font-stretch: normal;
}

.AtlasGrotesk-MediumItalic-Web {
    font-family: 'Atlas Grotesk Web';
    font-weight:  500;
    font-style:   italic;
    font-stretch: normal;
}

@font-face {
    src: url('../fonts/Atlas_Grotesk/AtlasGrotesk-Regular-Web.ttf') format('truetype');

    font-family: 'Atlas Grotesk Web';
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}

.AtlasGrotesk-Regular-Web {
    font-family: 'Atlas Grotesk Web';
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    src: url('../fonts/Atlas_Grotesk/AtlasGrotesk-RegularItalic-Web.ttf') format('truetype');

    font-family: 'Atlas Grotesk Web';
    font-weight:  400;
    font-style:   italic;
    font-stretch: normal;
}

.AtlasGrotesk-RegularItalic-Web {
    font-family: 'Atlas Grotesk Web';
    font-weight:  400;
    font-style:   italic;
    font-stretch: normal;
}

@font-face {
    src: url('../fonts/Atlas_Grotesk/AtlasGrotesk-Thin-Web.ttf') format('truetype');

    font-family: 'Atlas Grotesk Web';
    font-weight:  100;
    font-style:   normal;
    font-stretch: normal;
}

.AtlasGrotesk-Thin-Web {
    font-family: 'Atlas Grotesk Web';
    font-weight:  100;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    src: url('../fonts/Atlas_Grotesk/AtlasGrotesk-ThinItalic-Web.ttf') format('truetype');

    font-family: 'Atlas Grotesk Web';
    font-weight:  100;
    font-style:   italic;
    font-stretch: normal;
}

.AtlasGrotesk-ThinItalic-Web {
    font-family: 'Atlas Grotesk Web';
    font-weight:  100;
    font-style:   italic;
    font-stretch: normal;
}


/* Sharp Grotesk fonts */

@font-face {
    src: url('../fonts/Sharp_Grotesk/SharpGroteskDBBook20.ttf') format('truetype');
    font-family: 'Sharp Grotesk Web';
}

.SharpGroteskDBBook20 {
    font-family: 'Sharp Grotesk Web';
}

@font-face {
    src: url('../fonts/Sharp_Grotesk/SharpGroteskDBBook22.ttf') format('truetype');
    font-family: 'Sharp Grotesk Web';
}

.SharpGroteskDBBook22 {
    font-family: 'Sharp Grotesk Web';
}

@font-face {
    src: url('../fonts/Sharp_Grotesk/SharpGroteskDBBookItalic20.ttf') format('truetype');
    font-family: 'Sharp Grotesk Web';
}

.SharpGroteskDBBookItalic20 {
    font-family: 'Sharp Grotesk Web';
}

@font-face {
    src: url('../fonts/Sharp_Grotesk/SharpGroteskDBMedium20.ttf') format('truetype');
    font-family: 'Sharp Grotesk Web';
}

.SharpGroteskDBMedium20 {
    font-family: 'Sharp Grotesk Web';
}

@font-face {
    src: url('../fonts/Sharp_Grotesk/SharpGroteskDBMedium22.ttf') format('truetype');
    font-family: 'Sharp Grotesk Web';
}

.SharpGroteskDBMedium22 {
    font-family: 'Sharp Grotesk Web';
}

@font-face {
    src: url('../fonts/Sharp_Grotesk/SharpGroteskDBMediumItalic20.ttf') format('truetype');
    font-family: 'Sharp Grotesk Web';
}

.SharpGroteskDBMediumItalic20 {
    font-family: 'Sharp Grotesk Web';
}

@font-face {
    src: url('../fonts/Sharp_Grotesk/SharpGroteskDBSmBold20.ttf') format('truetype');
    font-family: 'Sharp Grotesk Web';
}

.SharpGroteskDBSmBold20 {
    font-family: 'Sharp Grotesk Web';
}

@font-face {
    src: url('../fonts/Sharp_Grotesk/SharpGroteskDBSmBold22.ttf') format('truetype');
    font-family: 'Sharp Grotesk Web';
}

.SharpGroteskDBSmBold22 {
    font-family: 'Sharp Grotesk Web';
}

@font-face {
    src: url('../fonts/Sharp_Grotesk/SharpGroteskDBSmBoldItalic20.ttf') format('truetype');
    font-family: 'Sharp Grotesk Web';
}

.SharpGroteskDBSmBoldItalic20 {
    font-family: 'Sharp Grotesk Web';
}
